doctype html
html(lang="en")
	head
		title Twitter API
		link(rel="stylesheet", href="styles/style.css")
		link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900", rel="stylesheet", type="text/css")
	body
		each tweet in tweets
			div.tweet.cf
				p.tweet-body #{tweet.text}
				p.tweet-author #{tweet.name}
					| 
					span (@#{tweet.username})
				p.tweet-time #{tweet.ts}