html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
	color: #131313;
	background: magenta;
	font-family: 'Source Sans Pro', serif;
}

.cf:before,
.cf:after {
		content: " "; /* 1 */
		display: table; /* 2 */
}

.cf:after {
		clear: both;
}

.getTweets {
	position: relative;
	max-width: 600px;
	margin: 25px auto;
	color: rgba(19,19,19,0.88);
}
.getTweets-query {
	font-family: 'Source Sans Pro', serif;
	font-size: 1.6rem;
	font-weight: 700;
	margin-right: 5px;
	border: none;
	border-bottom: 2px solid rgba(19,19,19,0.88);
	background: none;
	color: rgba(19,19,19,0.88);
}
.getTweets-query:active,
.getTweets-query:focus {
	outline: none;
}
.getTweets-label {
	display: block;
	font-weight: 700;
	margin: 3px 0 0;
}
.getTweets-instructions {
	font-size: 0.8rem;
	font-weight: 600;
	margin: 0;
}
.getTweets-submit {
	position: relative;
	top:-1px;
	font-family: 'Source Sans Pro', serif;
	font-size: 0.9rem;
	font-weight: 700;
	background: none;
	color: rgba(19,19,19,0.88);
	border: 2px solid rgba(19,19,19,0.88);
	padding: 4px 7px 6px 8px;
	border-radius: 3px;
	cursor: pointer;
}
.getTweets-submit:hover {
	background: rgba(19,19,19,0.68);
	padding: 6px 9px 8px 10px;
	color: magenta;
	border: none;
}
.getTweets-submit:focus { outline: none; }
.getTweets-submit:active { background: rgba(19,19,19,0.88); }

.tweet {
	position: relative;
	max-width: 600px;
	padding-bottom: 6px;
	border-bottom: 2px solid rgba(19,19,19,0.6);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.tweet a { color: rgba(19,19,19,0.75); }
.tweet a:hover { text-decoration: none; }

.tweet-body {
	color: rgba(19,19,19,0.88);
	font-size: 1.6rem;
	line-height: 1.9rem;
	font-weight: 700;
	margin: 15px 0;
}

.tweet-author,
.tweet-time {
	color: rgba(19,19,19,0.75);
	font-size: 0.7rem;
	font-weight: 900;
	display: inline-block;
	margin: 0;
	text-transform: uppercase;
}

.tweet-author { float: left; }
.tweet-time { float: right; }